<ng-template #content let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Delete Report</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
  <div class="modal-body" *ngIf="report">
    <table class="table">
      <tbody>
        <label>Password</label>
        <input type="text" class="form-control" autocomplete="off" [(ngModel)]="password"/>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="validatePassword()">Delete</button>
  </div>
</ng-template>

<button class="btn btn-danger" (click)="open(content)"> 
  <i class="bi bi-trash-fill"></i>
</button> 
