<ng-template #content let-modal>
	<div class="modal-header">
		<h4 class="modal-title">Create Pig Report</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>

  <div class="modal-body">
    <div class="row">
      <div class="col-sm-6">
        <label>Reporter</label>
        <input type="text" class="form-control" autocomplete="off" [(ngModel)]="reportInput.name"/>
        <label>Phone</label>
        <input type="number" class="form-control" step="1" min="0" [(ngModel)]="reportInput.phone"/>
        <label>Location</label>
        <input type="text" class="form-control" autocomplete="off" [(ngModel)]="reportInput.location" [(ngModel)]="locationInput.name"/>
        <label>Notes</label>
        <input type="text" class="form-control" autocomplete="off" [(ngModel)]="reportInput.notes"/>
      </div>

      <div class="col-sm-6">
        <label>Pig ID</label>
        <input type="number" class="form-control" step="1" min="0" onkeypress="return event.charCode >= 48 && event.charCode <= 57" [(ngModel)]="reportInput.id"/>
        <label>Breed</label>
        <select class="form-control" [(ngModel)]="reportInput.breed"> 
          <option value="Carbon Black">Carbon Black</option>
          <option value="Pure Black">Pure Black</option>
          <option value="Hazelnut">Hazelnut</option>
          <option value="Walnut">Walnut</option>
          <option value="Light Grey">Light Grey</option>
          <option value="Dark Grey">Dark Grey</option>
          <option value="Ghost White">Ghost White</option>
          <option value="Ivory White">Ivory White</option>
        </select>
          <label>Longitude</label>
          <input type="number" class="form-control" [(ngModel)]="locationInput.lon"/>
          <label>Latitude</label>
          <input type="number" class="form-control" [(ngModel)]="locationInput.lat"/>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="validateReport()">Save</button>
  </div>
</ng-template>

<div class="container px-5">
  <div class="d-grid gap-2">
    <button class="btn btn-lg btn-success" (click)="open(content)">CREATE PIG REPORT</button>
  </div>
</div>

<br/>