<table class="table" id="mainTable">
  <thead>
    <tr>
      <th>
        <button class="btn btn-light" (click)="sortLocation()"><b>Location</b></button> 
      </th>
      <th>
        <button class="btn btn-light" (click)="sortName()"><b>Reported By</b></button>
      </th>
      <th>
        <button class="btn btn-light" (click)="sortDate()"><b>Time Reported</b></button>
      </th>
      <th>
        <button class="btn btn-light" (click)="sortStatus()"><b>Status</b></button>
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody id="mainTableBody">
    <tr *ngFor="let report of reports">
      <td>{{report.location}}</td>
      <td>{{report.name}}</td>
      <td>{{report.date}}</td>
      <td>
        <button class="btn btn-link" (click)="getReport(report.key)"> 
          {{report.status}}
        </button> 
      </td>
      <td>
        <button class="btn btn-info" (click)="getReport(report.key)"> 
          <i class="bi bi-info-circle-fill"></i>
        </button> 
        <button class="btn btn-danger" (click)="deleteReport(report.key)"> 
          <i class="bi bi-trash-fill"></i>
        </button> 
      </td>
    </tr>
  </tbody>
</table>
