<div class="container-fluid px-5">
  <table class="table">
    <thead>
      <tr>
        <th>
          <button class="btn btn-light" (click)="sortName()"><b>Reporter</b></button>
        </th>
        <th>
          <button class="btn btn-light" (click)="sortLocation()"><b>Location</b></button> 
        </th>
        <th>
          <button class="btn btn-light" (click)="sortDate()"><b>Time</b></button>
        </th>
        <th>
          <button class="btn btn-light" (click)="sortStatus()"><b>Status</b></button>
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let report of reports">
        <td class="tableRow">{{report.name}}</td>
        <td class="tableRow">{{report.location}}</td>
        <td class="tableRow">{{report.date}}</td>
        <td>
          <!-- <button class="btn btn-link" (click)="toggleStatus(report)"> 
            {{report.status}}
          </button>  -->
          <app-togglestatusmodal [report]="report"></app-togglestatusmodal>
        </td>
        <td>
          <app-infomodal [report]="report"></app-infomodal>
          <!-- <button class="btn btn-danger" (click)="deleteReport(report.key)"> 
            <i class="bi bi-trash-fill"></i>
          </button>  -->
          <app-deletemodal [report]="report"></app-deletemodal>
        </td>
      </tr>
    </tbody>
  </table>
</div>

