<ng-template #content let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Report Details</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
  <div class="modal-body" *ngIf="report">
    <table class="table">
      <tbody>
        <tr>
          <th>Reporter:</th>
          <td>{{report.name}}</td>
        </tr>
        <tr>
          <th>Phone:</th>
          <td>{{report.phone}}</td>
        </tr>
        
        <tr>
          <th>Pig ID:</th>
          <td>{{report.id}}</td>
        </tr>
        <tr>
          <th>Breed:</th>
          <td>{{report.breed}}</td>
        </tr>
        <tr>
          <th>Location:</th>
          <td>{{report.location}}</td>
        </tr>
        <tr>
          <th>Notes:</th>
          <td>{{report.notes}}</td>
        </tr>
        <tr>
          <th>Time:</th>
          <td>{{report.date}}</td>
        </tr>
        <tr>
          <th>Status</th>
          <td>{{report.status}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-template>
<!-- <button class="btn btn-lg btn-primary" (click)="open(content)">Open</button> -->
<button class="btn btn-primary" (click)="open(content)"> 
<!-- <button *ngIf="report" class="btn btn-info" (click)="open(content)">  -->
  <i class="bi bi-info-circle-fill"></i> 
</button> 
